* {
    padding: 0;
    margin: 0;
    font-family: 'FF Mark W05', sans-serif;
    animation: starting 5s;
    color: white;
}

body {

    position: relative;
    background-image: url(/images/launchscreen.jpg);
    height: 100%;
    width: 100%;
}


html {
    font-size: 0.52115905774vw;
}


@keyframes starting {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.maincontainer {
    position: relative;
}

.left-side-navigation {
    display: flex;
    align-items: center;
    margin-left: 5rem;
    width: 30rem;
    height: 100vh;
    background-color: transparent;
    list-style: none;
}

.left-side-navigation ul {
    list-style-position: inside;
}

.left-side-navigation li {
    color: #f9f9f9;
    list-style: none;


}

.left-side-navigation li:not(:last-child) {
    margin-bottom: 2rem;
}

.left-side-navigation li::before {
    text-align: center;

    margin-right: 2rem;
    content: "\25C6";
}

.left-side-navigation a {
    vertical-align: middle;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -0.08em;
    color: white;
    font-size: 4.5rem;
}

.left-side-navigation a:hover {
    color: red;
    font-size: 5.5rem;
    /* margin-left: 20px; */
    transition: 0.2s;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.top-bar>div {
    width: 15rem;
    height: 3rem;
    margin: 1rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
}



.logout:hover {
    color: rgb(255, 65, 65);
    /* opacity: 0.5; */
    cursor: pointer;
}

.logout:hover>.fa-sharp {
    color: red;
}

.currency {
    font-size: 2rem;
    font-weight: 525;
}



.right-side-bar {
    position: absolute;
    height: 100vh;
    width: 8.3rem;
    top: 0;
    right: 0;
    background: hsl(0 0% 100% /0.1);
    backdrop-filter: blur(0.5rem);
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    border-style: solid;
    border-width: 1px;
    border-right-color: transparent;
}

.right-side-bar:hover {
    width: 30rem;
}

.right-side-bar:hover~.addfriends span {
    opacity: 1;
    visibility: visible;
}

.addfriends {
    /* margin: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    margin-bottom: 9rem;
    justify-items: center;
    /* transition: 0.5s; */
}

.headname {
    display: grid;
    grid-template-columns: 8rem 1fr;
    height: 8rem;
    backdrop-filter: blur(40rem);
}

.headname img {
    height: 100%;
    width: 100%;
}

.headname span {
    color: black;
    /* color: rgb(173, 238, 74); */
    margin-top: 10%;
    margin-left: 0.5rem;
    font-weight: 700;
}

.headname:hover {
    opacity: 0.5;
    cursor: pointer;
}

#name1 {
    font-size: 1.5rem;
}

#name2 {
    font-size: 1.2rem;
    color: green;
}

#profilepic {
    border-radius: 1.5rem;
}

.addimg {
    font-size: 1.5rem;
}

.addimg:hover {
    opacity: 0.5;
    cursor: pointer;
}

.playerdesc {
    display: grid;
    grid-template-rows: 1rem 1rem;
}

@media (max-width:900px) {
    html {
        font-size: 10px;
    }
}