* {
    padding: 0;
    margin: 0;
    font-family: 'FF Mark W05', sans-serif;
    animation: starting 5s;
    color: white;
}

body {

    position: relative;
    background-image: url(../images/launchscreen.jpg);
    height: 100%;
    width: 100%;
}



@keyframes starting {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.maincontainer {
    position: relative;
}

.left-side-navigation {
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 300px;
    height: 100vh;
    background-color: transparent;
    list-style: none;
}

.left-side-navigation ul {
    list-style-position: inside;
}

.left-side-navigation li {
    color: #f9f9f9;
    list-style: none;


}

.left-side-navigation li:not(:last-child) {
    margin-bottom: 20px;
}

.left-side-navigation li::before {
    text-align: center;

    margin-right: 20px;
    content: "\25C6";
}

.left-side-navigation a {
    vertical-align: middle;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -0.08em;
    color: white;
    font-size: 3.5rem;
}

.left-side-navigation a:hover {
    color: red;
    font-size: 4.5rem;
    /* margin-left: 20px; */
    transition: 0.2s;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* grid-template-columns: 1fr 1fr; */
    /* position: absolute; */
    /* right: 0; */
    /* margin-left: 50%; */
    /* justify-items: center;
    align-items: center; */
}

.top-bar>div {
    width: 150px;
    height: 30px;
    margin: 10px;
    font-size: 25px;
    color: white;
    font-weight: 500;
}



.logout:hover {
    color: rgb(255, 65, 65);
    /* opacity: 0.5; */
    cursor: pointer;
}

.logout:hover>.fa-sharp {
    color: red;
}

.currency {
    font-size: 20px;
    font-weight: 525;
}



.right-side-bar {
    position: absolute;
    height: 100%;
    width: 83px;
    top: 0;
    right: 0;
    background: hsl(0 0% 100% /0.1);
    backdrop-filter: blur(0.5rem);
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    border-style: solid;
    border-width: 1px;
    border-right-color: transparent;
}

.right-side-bar:hover {
    width: 300px;
}

.right-side-bar:hover~.addfriends span {
    opacity: 1;
    visibility: visible;
}

.addfriends {
    /* margin: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    margin-bottom: 90px;
    justify-items: center;
    /* transition: 0.5s; */
}

.headname {
    display: grid;
    grid-template-columns: 80px 1fr;
    height: 80px;
    backdrop-filter: blur(40rem);
}

.headname img {
    height: 100%;
    width: 100%;
}

.headname span {
    color: black;
    /* color: rgb(173, 238, 74); */
    margin-top: 10%;
    margin-left: 5px;
    font-weight: 700;
}

.headname:hover {
    opacity: 0.5;
    cursor: pointer;
}

#name2 {
    font-size: 12px;
    color: green;
}

#profilepic {
    border-radius: 15px;
}

.addimg:hover {
    opacity: 0.5;
    cursor: pointer;
}

.playerdesc {
    display: grid;
    grid-template-rows: 10px 10px;
}