* {
    margin: 0;
    padding: 0;
    font-family: 'FF Mark W05', sans-serif;
    animation: starting 2s;

}

html {
    font-size: 0.52115905774vw;
}

body {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;

}

@keyframes starting {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.maincontainer {
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 6rem 4rem;
    box-sizing: border-box;

}

.maincontainer>div {
    flex: 1;
}

.headercontainer {
    display: flex;
    max-height: 12rem;
    height: 100%;
    /* overflow: hidden; */
    margin-left: 2rem;
    margin-bottom: 7rem;
}



.midcontainer {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.loginform {
    display: flex;
    flex-direction: column;
    width: 44rem;
    height: 66rem;
    padding: 10rem 6.7rem 6.7rem;
    padding-bottom: 0;
    min-height: 60px;
    background-color: #f9f9f9;
}

.bottomcontainer {
    margin-top: 8rem;
    max-height: 8rem;
    height: 100%;
}


.mastercontainer {

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formcontainer {
    box-sizing: border-box;
    width: 25.437677689660333rem;
    min-height: 31.021558158122353rem;
    background-color: #f9f9f9;
}

.logo {
    position: fixed;
    border-radius: 50%;
    margin-left: 10rem;

}

.signinlogo {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 6.5rem;
}

.user[type="text"] {
    font-size: 2rem;
    letter-spacing: 0.08rem;
    font-weight: 500;
}


.userinput {
    display: grid;
    grid-template-columns: auto;
    height: 31rem;
}

.username {
    position: relative;
    margin-bottom: 1.5rem;

}

.passerror {
    position: absolute;
    right: 0;
    visibility: hidden;
    font-size: 1.5rem;
}

.username input {

    width: 100%;
    height: 80%;
    background: transparent;
    border-style: solid;
    background-color: rgb(223, 222, 222);
    border-color: transparent;
    border-radius: 0.5rem;
    font-size: 2em;
    outline: none;

}

.username span {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.08em;
    left: 3rem;
    top: 2rem;
    pointer-events: none;
    transition: 0.5s;
}

.username input:focus {
    background-color: transparent;
    border-color: black;
}


.username input:valid~span,
.username input:focus~span {

    transform: translateX(-2rem) translateY(-4rem);
    background-color: transparent;


}



#eye1 {
    position: absolute;
    left: 39rem;
    top: 1.5rem;
    font-size: 2.5rem;
}


.sociallink {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    height: 5rem;
    margin-top: 1.5rem;
}

.sbutton {
    border-radius: 1rem;
    border-color: transparent;

}

.sbutton:hover {
    opacity: 0.5;
    cursor: pointer;
}

.fb {
    font-size: 3rem;
    background-color: rgb(28, 28, 235);
    color: white;
}

.gmail {
    background-color: white;
}

.apple {
    font-size: 3rem;
    color: white;
    border-style: solid;
    background-color: black;
    border-color: #e8e8e8;
}

.xbox {
    font-size: 3rem;
    color: white;
    background-color: green;
}

.staysign {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.08em;
}

.rememberme {
    display: grid;
    grid-template-columns: 3rem 1fr;
}

.rememberme input {
    width: 2.3rem;
    height: 2.3rem;
    accent-color: red;

}

.submitbutton {
    display: flex;
    justify-content: center;
}

.submitbutton button {
    height: 10.2rem;
    width: 10.2rem;
    border-style: solid;
    border-radius: 3rem;
    border-color: #e8e8e8;

}

.submitbutton button:hover {
    cursor: pointer;
    background-color: rgb(255, 71, 71);
}

.rightarrow {
    font-size: 4rem;
    color: black;
    pointer-events: none;
}

.passwordresest {
    display: flex;
    position: relative;
    justify-content: center;
    height: 10rem;
}

.dummy {
    text-decoration: none;
    font-weight: 700;
    position: absolute;
    top: 2rem;
    color: black;
    font-size: 1.8rem;
    letter-spacing: 0.08em;
    margin-top: 3rem;
}

.masterfooter {
    position: relative;
    width: 70rem;
    height: 1.8rem;
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer {
    position: absolute;
    text-decoration: none;
    color: rgba(249, 249, 249, 0.65);
    letter-spacing: 0.08em;
    font-weight: 800;
}

.footer2 {
    left: 13rem
}

.footer3 {
    left: 35rem;
}

.dummydata {
    background: #f0f0f0;
    letter-spacing: 0.08em;
    font-weight: 500;
    position: absolute;
    pointer-events: none;
    top: 4rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #e8e8e8;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;

}



.passwordresest div:hover {
    cursor: pointer;
}

.passwordresest div:hover~span {
    transform: translateX(15rem) translateY(-4.5rem);
    opacity: 1;
    visibility: visible;
}


@media (max-width:1000px) {
    html {
        font-size: 7px;
    }
}