<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="shortcut icon" href="../title.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/launcher.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="top-bar">
        <div class="coins">
            <i class="fa-regular fa-registered"></i>
            <span class="currency">279,634</span>
        </div>
        <div class="logout">
            Logout <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
        </div>
    </div>

    <div class="maincontainer">
        <div class="left-side-navigation">
            <ul>
                <li><a href="#">PLAY</a></li>
                <li><a href="#">CAREER</a></li>
                <li><a href="#">BATTLEPASS</a></li>
                <li><a href="#">COLLECTION</a></li>
                <li><a href="#">AGENTS</a></li>
                <li><a href="store.html">STORE</a></li>
            </ul>
        </div>
        <div class="right-side-bar">
            <div class="headname">
                <img id="profilepic" src="../images/profile3.png" alt="profile">
                <div class="playerdesc">
                    <span id="name1">Player 1 </span>
                    <span id="name2"><br>Available </span>
                </div>

            </div>
            <div class="addfriends">
                <div class="add"><i class="addimg fa-solid fa-user-plus"></i></div>
                <div class="search"><i class="addimg fa-solid fa-magnifying-glass"></i></div>
            </div>
        </div>
    </div>
    <script src="../js/launcher.js"></script>
</body>

</html>